@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Better Health Functioning decision support tool, to get started using the tool press <a class="text-decoration-none" asp-controller="DataViz" asp-action="Index">Home</a>.</p>
</div>
