@using BHFunctioning.Data
@model HealthData
@{
    ViewData["Title"] = "Index";
    var idTemp = ViewData["id"];
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    const { Alert } = require("../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle");
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var isGraphed = false;
    var isGraphedDensity = false;
    var NEET;
    var Selfharm;
    var Psychosis;
    var Medical;
    var ChildDx;
    var Circadian;
    var Tripartite;
    var ClinicalStage;
    var SOFAS;
    var sofasV2;
    function drawChart1() {
                        $.ajax({
                            type: "POST",
                            url: "/DataViz/FutureSofasGraph/?NEET="+NEET+"&Selfharm="+Selfharm+"&Psychosis="+Psychosis+"&Medical="+Medical+"&ChildDx="+ChildDx+"&Circadian="+Circadian+"&Tripartite="+Tripartite+"&ClinicalStage="+ClinicalStage+"&SOFAS="+SOFAS,
                            data: {},
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (r) {
                                var data = google.visualization.arrayToDataTable(r);
                                isGraphed = true;
                                //graph options
                                var options = {
                                    width: 650,
                                    height: 650,
                                    title: '',
                                    hAxis: {title: 'Time: Months'},
                                    vAxis: {title: 'SOFAS score',
                                    viewWindow:{
                                        min:0,
                                        max:100
                                        }
                                    },
                                    series: {
                                    0: { color: 'Black' },
                                    1: { color: 'Orange', lineDashStyle: [4, 4] },
                                    2: { color: 'Orange', lineDashStyle: [4, 4] }
                                    }
                                };
                                var chart = new google.visualization.LineChart(document.getElementById('chart_div3'));
                                chart.draw(data, options);
                            },
                            failure: function (r) {
                                alert(r.d);
                            },
                            error: function (r) {
                                alert(r.d);
                            }
                        });
    }    
    function pieChart() {
                $.ajax({
                    type: "POST",
                    url: "/DataViz/PieChart/?NEET="+NEET+"&Selfharm="+Selfharm+"&Psychosis="+Psychosis+"&Medical="+Medical+"&ChildDx="+ChildDx+"&Circadian="+Circadian+"&Tripartite="+Tripartite+"&ClinicalStage="+ClinicalStage+"&SOFAS="+SOFAS,
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        var data = google.visualization.arrayToDataTable(r);
                        isGraphed = true;
                        //graph options
                        var options = {
                            'legend':'left',
                            width: 650,
                            height: 650,
                           
                            title: '',
                            titleTextStyle: {
                                color: '#2780e3',
                                fontSize: 20
                            },
                            
                            slices: {
                                0: { color: '#0000FF' },
                                1: { color: '#00FF00' },
                                2: { color: '#FF0000' }
                            }

                        };
                        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
                        chart.draw(data, options);
                    },
                    failure: function (r) {
                        alert(r.d);
                    },
                    error: function (r) {
                        alert(r.d);
                    }
                });
    }
    function pieChart2() {
            $.ajax({
                type: "POST",
                url: "/DataViz/PieChart2/?NEET="+NEET+"&Selfharm="+Selfharm+"&Psychosis="+Psychosis+"&Medical="+Medical+"&ChildDx="+ChildDx+"&Circadian="+Circadian+"&Tripartite="+Tripartite+"&ClinicalStage="+ClinicalStage+"&SOFAS="+SOFAS,
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var data = google.visualization.arrayToDataTable(r);
                    isGraphed = true;
                    //graph options
                    var options = {
                        'legend':'left',
                        width: 650,
                        height: 650,
                           
                        title: '',
                        titleTextStyle: {
                            color: '#2780e3',
                            fontSize: 20
                        },
                            
                        slices: {
                            0: { color: '#004c6d' },
                            1: { color: '#5886a5' },
                            2: { color: '#9dc6e0' }
                        }

                    };
                    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
    }
    function drawChartDensity() {
            $.ajax({
                type: "POST",
                url: "/DataViz/DensityLineChart/?SOFAS="+SOFAS,
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //var data = google.visualization.arrayToDataTable(r);
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'Functioning score');
                    data.addColumn('number', 'Frequency');
                    data.addColumn({type: 'string', role: 'annotation'});
                    data.addColumn({type: 'string', role: 'annotationText'});
                    data.addColumn({'type': 'string', 'role': 'style'});
                    data.addColumn('number', 'User Input');
                    data.addColumn('number', 'Mean');
                    var count = 0, count2 = 0;
                    var mean = r[r.length-1];
                    console.log(mean);
                    for(var ob = 0; ob < r.length - 2; ob += 1){                                      

                        //adding user input marker in the datatable
                        if(parseFloat(r[ob][0]) > sofasV2 && count < 1 && sofasV2 >= 24){
                            //data.addRow([ parseFloat(r[ob][0]), parseFloat(r[ob][1]), null, null, 'point { size: 13; sides: 4; shape-type: star; fill-color: #a52714; }', 0, null]);
                            data.addRow([ parseFloat(r[ob][0]), parseFloat(r[ob][1]), 'User Input', "Input: "+ sofasV2.toString(), null, 0, null]);                                            
                            data.addRow([ parseFloat(r[ob][0]), parseFloat(r[ob][1]), null, null, null, 0.07, null]);                                            

                            count += 1;
                        }
                        //adding mean in data table
                        else if(parseFloat(r[ob][0]) > mean && count2 < 1){
                            data.addRow([ parseFloat(r[ob][0]), parseFloat(r[ob][1]), 'Mean ', "Mean: "+ mean.toString()+", Frequency: " + r[ob][1] , null, null, 0]);
                            data.addRow([ parseFloat(r[ob][0]), parseFloat(r[ob][1]), null, null , null, null, 0.07]);                                            
                            count2 += 1;
                        }
                        else {
                            data.addRow([ parseFloat(r[ob][0]), parseFloat(r[ob][1]), null, null, null, null, null]);
                        }
                    }
                    if(count < 1){
                            data.addRow([ SOFAS, 0, null, null, 'point { size: 13; sides: 4; shape-type: star; fill-color: #a52714; }']);                                            
                    }
                    isGraphedDensity = true;
                    var annotationColor = 'grey';
                    //graph options
                    var options = {
                        width: 700,
                        height: 650,
                        curveType: 'function',
                        pointSize: 0.2,
                        title: '',
                        hAxis: {
                            title: 'Functioning Score',
                                                    
                        },
                        vAxis: {
                            title: 'Frequencry',
                            viewWindow:{
                                                        
                            }
                        },
                        annotations: {
                            style: 'point',
                            stem: {
                                color: 'black',
                                width: 200
                            }
                        },
                        series: {
                            2: { color: 'black' }, 
                            1: { color: 'red' } 
                        }
                        }
                        var chart = new google.visualization.LineChart(document.getElementById('chart_divDensity'));
                        google.visualization.events.addListener(chart, 'ready', function () {
                            Array.prototype.forEach.call(document.getElementById("densityChart").getElementsByTagName('rect'), function(rect) {
                                              
                            });
                            });
                        chart.draw(data, options);
                },
                    failure: function (r) {
                    alert(r.d);
                },
                    error: function (r) {
                    alert(r.d);
                }
            });
    }
    function getAlert() {
                    $.ajax({
                        type: "POST",
                        url: "/DataViz/GetAlert/?NEET="+NEET+"&Selfharm="+Selfharm+"&Psychosis="+Psychosis+"&Medical="+Medical+"&ChildDx="+ChildDx+"&Circadian="+Circadian+"&Tripartite="+Tripartite+"&ClinicalStage="+ClinicalStage+"&SOFAS="+SOFAS,
                        data: {},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            var setTxt = document.getElementById("alertText");
                                
                                setTxt.innerHTML = String(r);
                                console.log(r);
                                setTxt.style.textAlign = "center";
                                setTxt.style.fontSize = "25px";
                        },
                        failure: function (r) {
                            alert(r.d);
                        },
                        error: function (r) {
                            alert(r.d);
                        }
                    });
    }
    function checkInputValid(input){
        if(input >= 0 && input <= 100){
            return true;
        }
        else return false;
    }
    function showGraph(graph){
        var i;
        var x = document.getElementsByClassName("graph");
        for (i=0; i < x.length; i++){
            x[i].style.display = "none";
        }
        document.getElementById(graph).style.display = "block";
            
        document.getElementById("b1").classList.remove("btn-primary");
        document.getElementById("b2").classList.remove("btn-primary");
        document.getElementById("b3").classList.remove("btn-primary");
        document.getElementById("b1").classList.add("btn-outline-secondary");
        document.getElementById("b2").classList.add("btn-outline-secondary");
        document.getElementById("b3").classList.add("btn-outline-secondary");

        if(graph == "graph1"){
                document.getElementById("b1").classList.toggle("btn-primary");
                document.getElementById("b1").style.color = "white";
                document.getElementById("b2").style.color = "black";
                document.getElementById("b3").style.color = "black";
                google.charts.load('current', {
                    callback: pieChart,
                    packages: ['corechart']
                });
        }
        if(graph == "graph2"){
                document.getElementById("b2").classList.toggle("btn-primary");
                document.getElementById("b2").style.color = "white";
                document.getElementById("b3").style.color = "black";
                document.getElementById("b1").style.color = "black";
                google.charts.load('current', {
                    callback: pieChart2,
                    packages: ['corechart']
                });
        }
        if(graph == "graph3"){
                document.getElementById("b3").classList.toggle("btn-primary");
                document.getElementById("b3").style.color = "white";
                document.getElementById("b2").style.color = "black";
                document.getElementById("b1").style.color = "black";
                google.charts.load('current', {
                    callback: drawChart1,
                    packages: ['corechart']
                });
        }
    }
    function showForm(){
        var form1 = document.getElementById("form1");
        var form2 = document.getElementById("form2");
        var graphsOp = document.getElementById("GraphOptions");
        var graphsOpbtn = document.getElementById("btns_graphSelection");
        var graphs = document.getElementById("graphsGroup");
        var densityChart = document.getElementById("densityChart");
        var alertTxt = document.getElementById("alertText");
        if (form1.style.display === "none") {
            form1.style.display = "inline-block";
            alertTxt.style.display = "block";
            form2.style.display = "none";
            if(isGraphed == true)
                graphsOp.style.display = "block";
            else 
                graphsOp.style.display = "none";

            graphs.style.display = "inline-block";
            densityChart.style.display = "none";

        } else {
            form2.style.display = "block";
            form1.style.display = "none";
            graphsOp.style.display = "none";
            graphs.style.display = "none";
            alertTxt.style.display = "none";
            if(isGraphedDensity == false){
                densityChart.style.display = "none";
            }
            else {
                densityChart.style.display = "block";
            }
        }
    }
    window.onload = function(){
        $("input[name='NEET']").click((ev) => {
            NEET = ev.currentTarget.attributes.value.value;
        })
        $("input[name='Selfharm']").click((ev) => {
            Selfharm = ev.currentTarget.attributes.value.value;
        })
        $("input[name='Psychosis']").click((ev) => {
            Psychosis = ev.currentTarget.attributes.value.value;
        })
        $("input[name='Medical']").click((ev) => {
            Medical = ev.currentTarget.attributes.value.value;
        })
        $("input[name='ChildDx']").click((ev) => {
            ChildDx = ev.currentTarget.attributes.value.value;
        })
        $("input[name='Circadian']").click((ev) => {
            Circadian = ev.currentTarget.attributes.value.value;
        })
        $("input[name='btn1']").click((ev) => {
            setbtn();
            document.getElementById("b1").classList.add("btn-primary");
        })
        $("input[name='btn2']").click((ev) => {
            setbtn();
            document.getElementById("b2").classList.add("btn-primary");
        })
        $("input[name='btn3']").click((ev) => {
            setbtn();
            document.getElementById("b3").classList.add("btn-primary");
        })   
        
        $(document).ready(function () {
            //Listener for when first form submit button is pressed
            var submitGraphData = document.getElementById("graphData");
            submitGraphData.onclick = function(event){
                //making the graphs options visible when the submit button is clicked and display the first graph   
                document.getElementById('GraphOptions').style.display = "inline";
                if(isGraphed == false)
                document.getElementById('graph1').style.display = "block";
                //setting final values that cant be sent using listener
                ClinicalStage = document.getElementById('ClinicalStage').value;
                Tripartite = document.getElementById('Tripartite').value;
                SOFAS = document.getElementById('Sofas').value;
                //loading packages for google charts
                google.charts.load('current', {'packages':['corechart']});
                google.charts.load('current', {
                    callback: drawChart1,
                    packages: ['corechart']
                });
                google.charts.load('current', {
                    callback: pieChart,
                    packages: ['corechart']
                });
                google.charts.load('current', {
                    callback: pieChart2,
                    packages: ['corechart']
                });


                //call get alert function to check if user input combinations creates an alert from database
                getAlert();
                
                
                
            }

            //Listener for when second form submit button is pressed
            var submitGraphDensity = document.getElementById("btn_graphDensity");
            submitGraphDensity.onclick = function(event){
                sofasV2 = document.getElementById("SofasV2").value;
                var spanErrDis = document.getElementById("span_inputErrDisplay");
                // checking if the user has entered a value
                if(sofasV2.length > 0){
                    //checking if the value is valid
                    if(checkInputValid(sofasV2)){
                        spanErrDis.textContent = "";
                        document.getElementById("densityChart").style.display = "block";
                        google.charts.load('current', {
                            callback: drawChartDensity,
                            packages: ['corechart']
                        });
                        
                    }
                    else{
                        spanErrDis.textContent = "Functioning score entered is not between 0 and 100!";

                    }
                }
                else {
                    spanErrDis.textContent = "Please enter a value between 0 and 100!";
                }
            }
        });
    };
</script>

<div class="container container-fluid" >
    <div class="row" id="tabs">
        <div class="col">
            <button class="btn btn-primary" id="btn_formDisplay" name="btn_formDisplay" onclick="showForm()">Toggle statistics form</button>
        </div>
        <div class="col" id="btns_graphSelection">
            <div id="GraphOptions" class="btn-group" style="display:none;">
                <button class="btn btn-primary" id="b1" name="btn1" onclick="showGraph('graph1')">Graph 1</button>
                <button class="btn btn-outline-secondary" id="b2" name="btn2" onclick="showGraph('graph2')">Graph 2</button>
                <button class="btn btn-outline-secondary" id="b3" name="btn3" onclick="showGraph('graph3')">Graph 3</button>
            </div>
        </div>
    </div>
    @*Input form 1 for change trajectory and also to display graphs for results*@
    <div class="row" id="form1andResults">
        <form id="form1" class="col">
            
            <table class="table form-control-plaintext col"> 
                <tr class="row">
                    <div class="row pb-2">
                        <h2 class="text-primary">Enter inputs</h2>
                    </div>
                </tr>

                <tr>
                    <th>
                        <div>
                            Data
                        </div>
                    </th>
                    <th class="align-content-center">
                        Input
                    </th>

                </tr>
                <tr>
                    <td class=" p-1">

                        <label asp-for="NEET"></label>
                        <span asp-validation-for="NEET" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div class="">
                            <input class="form-check-input" value="True" asp-for="NEET" type="radio" name="NEET" id="neet1" />
                            <label class="form-check-label" for="neet1">True</label>

                            <input class="form-check-input" checked="checked" value="False" asp-for="NEET" type="radio" name="NEET" id="neet0" />
                            <label class="form-check-label" for="neet0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="p-1 d-table-cell">
                        <label asp-for="ChildDx"></label>
                        <span asp-validation-for="ChildDx" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div>
                            <input class="form-check-input" value="True" asp-for="ChildDx" type="radio" name="ChildDx" id="childdx1" />
                            <label class="form-check-label" for="childdx1">True</label>

                            <input class="form-check-input" checked="checked" value="False" asp-for="ChildDx" type="radio" name="ChildDx" id="childdx0" />
                            <label class="form-check-label" for="childdx0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Selfharm"></label>
                        <span asp-validation-for="Selfharm" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div>
                            <input class="form-check-input" value="True" asp-for="Selfharm" type="radio" name="Selfharm" id="selfharm1" />
                            <label class="form-check-label" for="selfharm1">True</label>

                            <input class="form-check-input" checked="checked" value="False" asp-for="Selfharm" type="radio" name="Selfharm" id="selfharm0" />
                            <label class="form-check-label" for="selfharm0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Psychosis"></label>
                        <span asp-validation-for="Psychosis" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">

                        <div>
                            <input class="form-check-input" value="True" asp-for="Psychosis" type="radio" name="Psychosis" id="Psychosis1" />
                            <label class="form-check-label" for="Psychosis1">True</label>

                            <input class="form-check-input" checked="checked" value="False" asp-for="Psychosis" type="radio" name="Psychosis" id="Psychosis0" />
                            <label class="form-check-label" for="Psychosis0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Medical" ></label>
                        <span asp-validation-for="Medical" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">

                        <div class="">
                            <input class="form-check-input" value="True" asp-for="Medical" type="radio" name="Medical" id="Medical1" />
                            <label class="form-check-label" for="Medical1">True</label>

                            <input class="form-check-input" checked="checked" value="False" asp-for="Medical" type="radio" name="Medical" id="Medical0" />
                            <label class="form-check-label" for="Medical0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Circadian"></label>
                        <span asp-validation-for="Circadian" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">

                        <div class="">
                            <input class="form-check-input " value="True" asp-for="Circadian" type="radio" name="Circadian" id="Circadian1" />
                            <label class="form-check-label" for="Circadian1">True</label>

                            <input class="form-check-input" checked="checked" value="False" asp-for="Circadian" type="radio" name="Circadian" id="Circadian0" />
                            <label class="form-check-label" for="Circadian0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Tripartite"></label>
                        <span asp-validation-for="Tripartite" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div class="">
                            <select asp-for="Tripartite" class="dropdown dropdown-header dropdown-item-text dropdown-toggle" name="Tripartite" id="Tripartite">
                                <option class="dropdown-item" value="0">No mood disorder</option>
                                <option class="dropdown-item" value="1">Manic-fatigue</option>
                                <option class="dropdown-item" value="2">Developmental-psychosis</option>
                                <option class="dropdown-item" value="3">Anxious-depression</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="ClinicalStage"></label>
                        <span asp-validation-for="ClinicalStage" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <select asp-for="ClinicalStage" class="dropdown dropdown-header dropdown-item-text dropdown-toggle" name="ClinicalStage" id="ClinicalStage">
                            <option class="dropdown-item" value="0">Stage 1a</option>
                            <option class="dropdown-item" value="1">Stage 1b</option>
                            <option class="dropdown-item" value="2">Stage 2+</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Sofas"></label>
                        <span asp-validation-for="Sofas" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <select asp-for="Sofas" class="dropdown dropdown-header dropdown-item-text dropdown-toggle" name="Sofas" id="Sofas">
                           
                            <option class="dropdown-item" value="4">Serious impairment (< 50) </option>
                            <option class="dropdown-item" value="5">Moderate impairment (51-60)</option>
                            <option class="dropdown-item" value="6">Mild impairment (61-70)</option>
                            <option class="dropdown-item" value="7">Slight impairment (71-80)</option>
                            <option class="dropdown-item" value="8">Good functioning (81-90)</option>
                            <option class="dropdown-item" value="9">Superior functioning(91-100)</option>
                        </select>
                        
                    </td>
                </tr>
                <tr>
                    <div asp-validation-summary="All"></div>
                    <td class="d-table-cell p-1">
                        <button id="graphData" type="button" name="graphData" class="btn btn-primary mb-2">Submit</button>
                    </td>
                </tr>

            </table>           
        </form>

        <div class="col" id="graphsGroup">
            
            <div class="graph justify-content-center col" id="graph1" style="display:none;">              
                <h2 class="text-primary" > Predicted functional change category </h2>
                <div id="chart_div2" style="width:auto; height:auto" ></div>
            </div>
            <div class="graph justify-content-center col" id="graph2" style="display:none;">
                <h2 class="text-primary" > Predicted threshold probability </h2>
                <div id="chart_div" style="width:auto; height:auto"></div>
            </div>
            <div class="graph justify-content-center col" id="graph3" style="display:none;">
                <h2 class="text-primary" > Predicted functional trajectory </h2>
                <div id="chart_div3" style="width:auto; height:auto"></div>
            </div>
        </div>
            <div class="text-center"><span id="alertText" class="text-danger text-center"></span></div>
    </div>
    @* Form 2 to input functioning score and display density line chart with users input *@
    <div class="row" id="form2andResults" >
        <form id="form2" class="col col-md-4" style="display:none;">
            <table class="table form-control-plaintext"> 
                <tr class="row">
                    <div class="row">
                        <h2 class="text-primary">Enter inputs</h2>
                    </div>
                </tr>

                <tr>
                    <th class="col">
                        <div class="">
                            Data
                        </div>
                    </th>
                    <th class="col">
                        <div class="center">
                            Input
                        </div>
                    </th>

                </tr>
                <tr>
                    <td class=" p-1">

                        <label asp-for="Sofas"></label>
                        <span asp-validation-for="Sofas" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div class="">
                            <input style="text-align: center;" id="SofasV2" type="number" placeholder="0-100"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <button id="btn_graphDensity" type="button" class="btn btn-primary mb-2">Submit</button>
                    </td>
                </tr>     
           </table>
           <span id="span_inputErrDisplay" class="alert-danger"></span>
        </form>
        <div class="col">
            <div class="justify-content-center col" id="densityChart" style="display:none;">              
                <h2 class="text-primary" >Functional Density Line Chart</h2>
                <div id="chart_divDensity" ></div>
            </div>
        </div>
    </div>
</div>

