@using BHFunctioning.Data
@model HealthData
@{
    ViewData["Title"] = "Index";
    var idTemp = ViewData["id"];
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    const { Alert } = require("../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle");

    const { Alert } = require("../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle");
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">


    window.onload = function(){
    var NEET;
    var Selfharm;
    var Psychosis;
    var Medical;
    var ChildDx;
    var Circadian;
    var Tripartite;
    var ClinicalStage;
    var SOFAS;
    $("input[name='NEET']").click((ev) => {
        NEET = ev.currentTarget.attributes.value.value;
    })
    $("input[name='Selfharm']").click((ev) => {
        Selfharm = ev.currentTarget.attributes.value.value;

    })
    $("input[name='Psychosis']").click((ev) => {
        Psychosis = ev.currentTarget.attributes.value.value;
    })
    $("input[name='Medical']").click((ev) => {
        Medical = ev.currentTarget.attributes.value.value;
    })
    $("input[name='ChildDx']").click((ev) => {
        ChildDx = ev.currentTarget.attributes.value.value;
    })
    $("input[name='Circadian']").click((ev) => {
        Circadian = ev.currentTarget.attributes.value.value;
    })
     $("input[name='Sofas']").click((ev) => {
        SOFAS = document.getElementById('Sofas').value;
        var slid = document.getElementById('slider');
        slid.innerHTML = SOFAS;
    })


    function getAlert() {
                    $.ajax({
                        type: "POST",
                        url: "/DataViz/GetAlert/?NEET="+NEET+"&Selfharm="+Selfharm+"&Psychosis="+Psychosis+"&Medical="+Medical+"&ChildDx="+ChildDx+"&Circadian="+Circadian+"&Tripartite="+Tripartite+"&ClinicalStage="+ClinicalStage+"&SOFAS="+SOFAS,
                        data: {},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            var setTxt = document.getElementById("alertText");
                                setTxt.innerHTML = String(r);
                                console.log(r);

                        },
                        failure: function (r) {
                            alert(r.d);
                        },
                        error: function (r) {
                            alert(r.d);
                        }
                    });
                }


    function pieChart() {
                    $.ajax({
                        type: "POST",
                        url: "/DataViz/PieChart/?NEET="+NEET+"&Selfharm="+Selfharm+"&Psychosis="+Psychosis+"&Medical="+Medical+"&ChildDx="+ChildDx+"&Circadian="+Circadian+"&Tripartite="+Tripartite+"&ClinicalStage="+ClinicalStage+"&SOFAS="+SOFAS,
                        data: {},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                            var data = google.visualization.arrayToDataTable(r);
                            //graph options
                            var options = {
                                width: 800,
                                height: 600,
                                pieHole: 0.4,
                                chart: {
                                    title: 'Predicted cluster probabilities'
                                },
                                slices: {
                                    0: { color: '#0000FF' },
                                    1: { color: '#00FF00' },
                                    2: { color: '#FF0000' }
                                }
                            };
                            var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
                            chart.draw(data, options);
                        },
                        failure: function (r) {
                            alert(r.d);
                        },
                        error: function (r) {
                            alert(r.d);
                        }
                    });
                }

        $(document).ready(function () {
        var element = document.getElementById("graphData");
        element.onclick = function(event){

                    document.getElementById('GraphOptions').style.display = "inline";

                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart1);
                    google.charts.setOnLoadCallback(pieChart);
                    ClinicalStage = document.getElementById('ClinicalStage').value;
                    Tripartite = document.getElementById('Tripartite').value;
                    getAlert();
                    function drawChart1() {
                        $.ajax({
                            type: "POST",
                            url: "/DataViz/FutureSofasGraph/?NEET="+NEET+"&Selfharm="+Selfharm+"&Psychosis="+Psychosis+"&Medical="+Medical+"&ChildDx="+ChildDx+"&Circadian="+Circadian+"&Tripartite="+Tripartite+"&ClinicalStage="+ClinicalStage+"&SOFAS="+SOFAS,
                            data: {},
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (r) {
                                var data = google.visualization.arrayToDataTable(r);

                                //graph options
                                var options = {
                                    width: 800,
                                    height: 600,
                                    chart: {
                                    title: 'SOFAS future prediction'
                                    },
                                    hAxis: {title: 'Months'},
                                    vAxis: {title: 'SOFAS score',
                                    viewWindow:{
                                        min:0,
                                        max:10
                                        }
                                    }
                                };
                                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                                chart.draw(data, options);
                            },
                            failure: function (r) {
                                alert(r.d);
                            },
                            error: function (r) {
                                alert(r.d);
                            }
                        });
                    }
            }
        });


    };
</script>
<form class="form-control-lg" method="post">
    <button class="btn btn-primary" type="submit" asp-action="AddCSV">add CSV file to database</button>
    <button class="btn btn-danger" asp-action="RemoveHealthData">Delete Health Data</button>
</form>

<script>
    function showGraph(graph){
            var i;
            var x = document.getElementsByClassName("graph");
            for (i=0; i < x.length; i++){
                x[i].style.display = "none";
            }
            document.getElementById(graph).style.display = "block";

        }
</script>

<div class="container-fluid container">
    <div class="row">
        <form class="col-xs-6 col form-control">
            <table class="">
                <tr class="row">
                    <div class="row pb-2">
                        <h2 class="text-primary">Enter inputs</h2>
                    </div>
                </tr>

                <tr>
                    <th>
                        <div>
                            Data
                        </div>
                    </th>
                    <th class="align-content-center">
                        Input
                    </th>

                </tr>
                <tr>
                    <td class=" p-1">

                        <label asp-for="NEET"></label>
                        <span asp-validation-for="NEET" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div class="">
                            <input class="form-check-input" value="True" asp-for="NEET" type="radio" name="NEET" id="neet1" />
                            <label class="form-check-label" for="neet1">True</label>

                            <input class="form-check-input" value="False" asp-for="NEET" type="radio" name="NEET" id="neet0" />
                            <label class="form-check-label" for="neet0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="p-1 d-table-cell">
                        <label asp-for="ChildDx"></label>
                        <span asp-validation-for="ChildDx" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div>
                            <input class="form-check-input" value="True" asp-for="ChildDx" type="radio" name="ChildDx" id="childdx1" />
                            <label class="form-check-label" for="childdx1">True</label>

                            <input class="form-check-input" value="False" asp-for="ChildDx" type="radio" name="ChildDx" id="childdx0" />
                            <label class="form-check-label" for="childdx0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Selfharm"></label>
                        <span asp-validation-for="Selfharm" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div>
                            <input class="form-check-input" value="True" asp-for="Selfharm" type="radio" name="Selfharm" id="selfharm1" />
                            <label class="form-check-label" for="selfharm0">True</label>

                            <input class="form-check-input" value="False" asp-for="Selfharm" type="radio" name="Selfharm" id="selfharm0" />
                            <label class="form-check-label" for="selfharm1">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Psychosis"></label>
                        <span asp-validation-for="Psychosis" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">

                        <div>
                            <input class="form-check-input" value="True" asp-for="Psychosis" type="radio" name="Psychosis" id="Psychosis1" />
                            <label class="form-check-label" for="Psychosis0">True</label>

                            <input class="form-check-input" value="False" asp-for="Psychosis" type="radio" name="Psychosis" id="Psychosis0" />
                            <label class="form-check-label" for="Psychosis1">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Medical"></label>
                        <span asp-validation-for="Medical" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">

                        <div class="">
                            <input class="form-check-input" value="True" asp-for="Medical" type="radio" name="Medical" id="Medical1" />
                            <label class="form-check-label" for="Medical1">True</label>

                            <input class="form-check-input" value="False" asp-for="Medical" type="radio" name="Medical" id="Medical0" />
                            <label class="form-check-label" for="Medical0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Circadian"></label>
                        <span asp-validation-for="Circadian" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">

                        <div class="">
                            <input class="form-check-input " value="True" asp-for="Circadian" type="radio" name="Circadian" id="Circadian1" />
                            <label class="form-check-label" for="Circadian1">True</label>

                            <input class="form-check-input" value="False" asp-for="Circadian" type="radio" name="Circadian" id="Circadian0" />
                            <label class="form-check-label" for="Circadian0">False</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="Tripartite"></label>
                        <span asp-validation-for="Tripartite" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div class="">
                            <select asp-for="Tripartite" class="dropdown dropdown-header dropdown-item-text dropdown-toggle" name="Tripartite" id="Tripartite">
                                <option class="dropdown-item" value="0">False mood disorder</option>
                                <option class="dropdown-item" value="1">Manic fatigue</option>
                                <option class="dropdown-item" value="2">Developmental psychosis</option>
                                <option class="dropdown-item" value="3">Anxious depression</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label asp-for="ClinicalStage"></label>
                        <span asp-validation-for="ClinicalStage" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <select asp-for="ClinicalStage" class="dropdown dropdown-header dropdown-item-text dropdown-toggle" name="ClinicalStage" id="ClinicalStage">
                            <option class="dropdown-item" value="0">Stage 1a</option>
                            <option class="dropdown-item" value="1">Stage 1b</option>
                            <option class="dropdown-item" value="2">Stage 2a+</option>
                        </select>

                    </td>
                </tr>
                <tr>
                    <td class="d-table-cell p-1">
                        <label class="p-1" asp-for="Sofas"></label>
                        <span asp-validation-for="Sofas" class="text-danger"></span>
                    </td>
                    <td class="d-table-cell p-1">
                        <div class="btn-group input-group mb-2 mr-sm-2" role="group" aria-label="Basic example">
                            <span id="slider" class="p-1">0</span><input value="0" min="0" max="4" id="Sofas" asp-for="Sofas" type="range" name="Sofas" class="" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <div asp-validation-summary="All"></div>
                    <td class="d-table-cell p-1">
                        <button id="graphData" type="button" name="graphData" class="btn btn-primary mb-2">Submit</button>
                    </td>
                </tr>

            </table>

        </form>
        <div class="col">
            <div id="GraphOptions" class="btn-group" style="display:none;">
                <button class="btn btn-primary" onclick="showGraph('graph1')">Graph 1</button>
                <button class="btn btn-outline-secondary" onclick="showGraph('graph2')">Graph 2</button>
                <button class="btn btn-outline-secondary" onclick="showGraph('graph3')">Graph 3</button>
            </div>
            <div class="align-content-center"><span id="alertText"></span></div>
            <div class="graph justify-content-center" id="graph1">
                <div id="chart_div" style="width:auto; height:auto"></div>
            </div>
            <div class="graph justify-content-center" style="display:none;" id="graph2">
                <div id="chart_div2" style="width:auto; height:auto"></div>
            </div>
            <div class="graph justify-content-center" style="display:none;" id="graph3">
                <div id="chart_div3" style="width:auto; height:auto"></div>
            </div>
        </div>
    </div>
</div>

