@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BHFunctioning.Data;
@*@model List<HealthDataFuture>
*@
@model string
@{
    <div class="align-content-around container container-fluid align-content-center" id="DataViz">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart2);
        function drawChart2() {
            $.ajax({
                type: "POST",
                url: "/DataViz/AjaxMethod/?id="+@Model,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var data = google.visualization.arrayToDataTable(r);
                    
                    //Pie
                    var options = {
                      width: 1000,
                      height: 1000,
                      chart: {
                        title: 'SOFAS future prediction'
                      },
                      hAxis: {title: 'Months'},
                      vAxis: {title: 'SOFAS score'}
                    };
                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
        }
        function drawChart() {        
            var myArray = new Array();    
            
            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Months');
            data.addColumn('number', 'SOFAS');
            //var myArray = new Array[];

            data.addRows(myArray);
            
            // Set chart options
            var options = {'title':'How Much Pizza I Ate Last Night',
                'width':1000,
                'height':1000};
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>
    <div id="chart_div" style="width:1000; height:1000"></div>
</div>
}
