@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <script>



        var ConfirmDelete = function () {

            $("#myModal").modal('show');

        }
        var ConfirmDeleteHealth = function () {

            $("#myModalHealthData").modal('show');

        }
        var upload = function () {

            $("#myModalUpload").modal('show');

        }


    </script>


    <div>
        <h1 class="card-header">Data Management</h1>

        <table class="table table-borderless table-primary">
            <tr>
                <td>
                    <p class=""> Download User Input Records</p>
                </td>
                <td>
                    <a asp-action="Download" class="btn w-100 btn-primary">Download file</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Clear User Input Records</p>
                </td>
                <td>
                    <button onclick="ConfirmDelete()" class="btn btn-danger w-100">Clear Logs</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Upload Database CSV</p>
                </td>
                <td>
                    <button onclick="upload()" class="btn btn-primary w-100">Upload</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Initiate Database with CSV</p>
                </td>
                <td>
                    <a class="btn btn-primary w-100" type="submit" asp-action="AddCSV">Initiate</a>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Clear Database CSV</p>
                </td>
                <td>
                    <button onclick="ConfirmDeleteHealth()" class="btn btn-danger w-100">Delete</button>
                </td>
            </tr>
            
        </table>
    </div>
    <div class="container">
        <span class="text-center text-info">@ViewBag.Results</span>
    </div>
    <div class="modal fade" id="myModalUpload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a asp-action="Index" class="close" data-dismiss="modal">X</a>
                    <h3 class="modal-title">Upload Database csv file</h3>
                </div>
                    <h2 class="m-2">UploadFile</h2>
                    <p class="m-3">Make sure csv column uses the following names as headers: id, NEET, Selfharm, Psychosis, Medical, ChildDx, Circadian, Tripartite, ClinicalStage, Sofas, Alert, Constant, Up, Down, Mean, StandardDeviation</p>
                    <form method="post" class="form-control" enctype="multipart/form-data" asp-controller="DataManagement" asp-action="FileUpload">
                        <div class="form-group p-1">
                            <div class="col-md-10">
                                <p>Upload csv database file: </p>
                                <input type="file" class="btn btn-primary" name="files" accept=".csv" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 p-1">
                                <input type="submit" class="btn btn-primary " value="Upload" />
                            </div>
                        </div>
                    </form>

                <div class="modal-footer">
                    <a asp-action="Index" class="btn btn-default">Cancel</a>
                </div>

            </div>

        </div>

    </div>

    <div class="modal fade" id="myModalHealthData">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a asp-action="Index" class="close" data-dismiss="modal">X</a>
                    <h3 class="modal-title">Clear Health Data</h3>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to clear Health data entries?</h4>
                </div>
                <div class="modal-footer">
                    <a asp-action="Index" class="btn btn-default">Cancel</a>
                    <a asp-action="RemoveHealthData" class="btn btn-danger">Confirm</a>
                </div>

            </div>

        </div>

    </div>


    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a asp-action="Index" class="close" data-dismiss="modal">X</a>
                    <h3 class="modal-title">Clear Logs</h3>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to Clear Logs?</h4>
                </div>
                <div class="modal-footer">
                    <a asp-action="Index" class="btn btn-default">Cancel</a>
                    <a asp-action="ClearLogs" class="btn btn-danger">Confirm</a>
                </div>

            </div>

        </div>

    </div>
}
